:root {
  --background-dark: #223434;
  --primary-text-light: #cccccc;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-dark);
    color: var(--primary-text-light);
}

a {
    color: var(--primary-text-light);
    text-decoration: none;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}