:root {
  --background-dark: #223434;
  --primary-text-light: #cccccc;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-dark);
    color: var(--primary-text-light);
    font-family: sans-serif;
}

input,
button {
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    border-radius: 5%;
}

a {
    color: var(--primary-text-light);
    text-decoration: none;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}
